In [39]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [40]:
data = pd.concat([train, test], sort=False)
data
print(len(train), len(test), len(data))

891 418 1309

In [41]:
data.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [42]:
data['Sex'].replace(['male', 'female'], [0,1], inplace=True) # column with binary value is replaced 0 or 1

data['Embarked'].fillna(('S'), inplace=True) # In this case, S is the greatest among S,C,Q; therefore, NaN is replaced to S
#data['Embarked'] = data['Embarked'].map({'S':0, 'C':1, 'Q':2}).astype(int) # column with more than two value is mapped to integer value
data['Embarked'] = data['Embarked'].map({data['Embarked'].unique().tolist()[i]:i for i in range(len(data['Embarked'].unique().tolist()))}).astype(int)


data['Fare'].fillna(np.mean(data['Fare']), inplace=True) # NaN is replaced with column's average value

data['Age'].fillna(data['Age'].median(), inplace=True) # NaN is replaced with column's median

In [43]:
delete_columns = ['Name', 'PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

In [44]:
#X = train[['Pclass', 'SibSp', 'Parch', 'Sex', 'Fare']]
X = train
y = train[['Survived']]

X_train, X_test, y_train, y_test = train_test_split(X, y.values.ravel(), random_state=0)

In [45]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train) # Scaled X_train
X_test = scaler.transform(X_test) # Scaled X_test

In [46]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

In [47]:
production.to_csv('titanic_submission.csv', index=False)

NameError: name 'production' is not defined