In [1]:
import pandas as pd
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
test.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [18]:
X = train[['Pclass', 'SibSp', 'Parch', 'Sex', 'Fare']]
y = train[['Survived']]

X = pd.get_dummies(X, columns=['Pclass', 'Sex']) #convert non-classifiable data to classiable

     SibSp  Parch     Fare  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0   7.2500         0         0         1           0         1
1        1      0  71.2833         1         0         0           1         0
2        0      0   7.9250         0         0         1           1         0
3        1      0  53.1000         1         0         0           1         0
4        0      0   8.0500         0         0         1           0         1
..     ...    ...      ...       ...       ...       ...         ...       ...
886      0      0  13.0000         0         1         0           0         1
887      0      0  30.0000         1         0         0           1         0
888      1      2  23.4500         0         0         1           1         0
889      0      0  30.0000         1         0         0           0         1
890      0      0   7.7500         0         0         1           0         1

[891 rows x 8 columns]

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y.values.ravel(), random_state=0)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
#X_train = scaler.transform(X_train) # Scaled X_train
#X_test = scaler.transform(X_test) # Scaled X_test

In [25]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [26]:
knn.score(X_test, y_test)

0.8161434977578476

In [27]:
#X_production = test[['Pclass', 'SibSp', 'Parch']]
#production = test[['PassengerId']]
#production['Survived'] = knn.predict(X_production)
#production

In [28]:
#production.to_csv('titanic_submission.csv', index=False)